* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-image: url("../images/tronback.jpg");
    background-size: cover;
    overflow-x: hidden;
}


}
p{
    padding:5px;
    color: black;
}
h2{
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 30px;
    text-shadow: 0 0 50px #02E2F2;

}
h1{font-size: 50px;
    text-align: center;
    color: #02E2F2;
    text-shadow: 0 0 50px white;
}

button {
    padding-top: 5px;
}

#structions{
    text-align: center;
}

#map{
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin-bottom: 10px;
}

#timeleft{
    color:red;
    text-align: center;
}

#leaderboard{
    font-size: 30px;
    color: white;
    border: solid;
    border-color: grey;
    border-radius:30px;
    background: black;
    opacity: 0.8;
    margin: 10px 0px;
}

#submit{
    text-align: center;
    background-color: #02E2F2;
    font-size: 40px;
    border-radius:10px;
    color: black;
    border: none;
    padding-top: 5px;
    cursor:pointer;
}

.results{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}

#right{
    color: #6AF202;
}

#notright{
    color:red;
}

.hidden{
    display:none;
}

#logo{margin: 0;
    text-align: center;
    height: 300px;
    border-radius: 30px;
    border:solid;
    border-color: white;
    cursor: pointer;
}
#myBtn{
    background-color: grey;
}

#localscore{
    font-size: 15px;
    color: white;
}

#myBtn{font-weight: bolder;
    background-color: #02E2F2;
    border: none;
}

#localscore{
    font-size: 15px;
    color: #6AF202;
}

.table{
    font-size: 25px;
}
.initiate{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
#init{margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 50px #02E2F2;
}
.reinit{
    color:white;
    font-size: 30px;
    color:white;
    text-align: center;
}

ol {
   list-style-type: decimal;
   list-style-position: inside;
   margin-left: 15px;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#marginNone {
    margin: 0;
    padding: 0;
}

/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    body {font-family: 'Orbitron', sans-serif;
        background-image: url("../images/black.png");
        background-size: cover;
        overflow-x: hidden;
    }

    h1 {font-size: 150px;
        margin-top: 50px;
    }   

    h2 {font-size: 50px;
        line-height: 65px;

    }

    #myBtn {font-size: 40px;
        margin-top: 70px;
        margin-bottom: 100px; 
        background-color: #02E2F2;
        border-radius: 60px;
    }

    .modal-content {
        font-size: 40px;
        text-align: center;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
    }

    #conditions {font-size: 50px;

    }

    #logo {margin-top: 70px;
        width: 800px;
        height: auto;
    }

    #init {font-size: 80px;
        padding: 10px 10px 0 10px;
        margin-top: 70px;
        border: none;
        background-color: #02E2F2;
        color: black;
        position: fixed;
        bottom: 0px;
        left: 5%;
        right: 5%;
        bottom: 50px;
        border-radius: 60px;
    }

    #map {height: 1100px;
        width: 82%;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
        margin-left: 10%;
    }

    #right {font-size: 80px;
        margin-bottom: 40px;

    }

    #localscore {
        font-size: 30px;
        margin-bottom: 60px;
    }

    #leaderboard {
        font-size: 30px;
    }

    #submit {text-align: center;
        justify-content: center;
        font-size: 80px;
        position: fixed;
        bottom: 0px;
        left: 5%;
        right: 5%;
        bottom: 50px;
        border-radius: 60px;
    }

}
*/